{{define "title"}} Add Actor {{end}}

{{define "main"}}
    <h1>Add Actor</h1>
    <form id="addForm" enctype="multipart/form-data" action="http://localhost:4000/actor/add" method="POST">
        <div>
            <label>First Name</label>
            {{with .Form.FieldErrors.first}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="first" value="{{.Form.First}}">
        </div>
        <div>
            <label>Last</label>
            {{with .Form.FieldErrors.last}}
               <label class="error">{{.}}</label> 
            {{end}}
            <input type="text" name="last" value="{{.Form.Last}}">
        </div>
        <div>
            <label>Birth Date</label>
            {{with .Form.FieldErrors.birthDate}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="date" name="birthDate" value="{{.Form.BirthDate}}">
        </div>
        <label class="custom-file-label">
            Actor Profile Image
            <input type="file" name="profileImg" id="imageInput" accept="image/*" onChange="previewImage(event)">
        </label>
        <label>
            Actor Tags
            <input type="text" name="tag" id="videoTags">
        </label>
        <button type="submit">Submit</button>
        <div id="imagePreview"></div>
    </div>
{{end}}

{{define "scripts"}}
    <script src="/static/js/add.js"></script>
{{end}}