{{ define "title" }}Add Person{{ end }}

{{ define "main" }}
  <h1 class="my-5 text-xl font-bold">Add Person</h1>
  <form
    id="addForm"
    class="w-1/2"
    enctype="multipart/form-data"
    action="http://localhost:4000/person/add"
    method="POST"
  >
    <div>
      <label class="block my-2">First Name</label>
      {{ with .Form.FieldErrors.First }}
        <label class="block text-red-700">{{ . }}</label>
      {{ end }}
      <input
        type="text"
        name="first"
        value="{{ .Form.First }}"
        class="w-3/4 p-1 border border-gray-300 rounded-lg bg-gray-50 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
      />
    </div>
    <div>
      <label class="block my-2">Last</label>
      {{ with .Form.FieldErrors.Last }}
        <label class="block text-red-700">{{ . }}</label>
      {{ end }}
      <input
        type="text"
        name="last"
        value="{{ .Form.Last }}"
        class="w-3/4 p-1 border border-gray-300 rounded-lg bg-gray-50 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
      />
    </div>
    <div>
      <label class="block my-2">Birth Date</label>
      {{ with .Form.FieldErrors.BirthDate }}
        <label class="block text-red-700">{{ . }}</label>
      {{ end }}
      <input
        type="date"
        name="birthDate"
        value="{{ .Form.BirthDate }}"
        class="w-3/4 p-1 border border-gray-300 rounded-lg bg-gray-50 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
      />
    </div>
    <label class="block my-2">Person Profile </label>
    <label
      class="inline-block my-2 p-2 bg-gray-50 text-gray-700 border border-gray-300 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-black-500 focus:border-black-500"
    >
      Upload Image
      <input
        type="file"
        name="profileImg"
        id="imageInput"
        accept="image/*"
        onChange="previewImage(event)"
        class="hidden"
      />
    </label>
    <div id="imagePreview"></div>
    <label class="inline-block my-2">
      Person Tags
      <input
        type="text"
        name="tag"
        class="w-full p-1 border border-gray-300 rounded-lg bg-gray-50 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
      />
    </label>
    <button
      type="submit"
      class="block my-2 p-1 bg-gray-50 text-gray-700 border border-gray-300 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-black-500 focus:border-black-500"
    >
      Submit
    </button>
  </form>
{{ end }}

{{ define "scripts" }}
  <script src="/static/js/add.js"></script>
{{ end }}
