{{define "title"}} Add Video {{end}}

{{define "main"}}
    <link rel="stylesheet" href="/static/css/add.css">
    <h1>Add Video</h1>
    <form id="addForm" enctype="multipart/form-data" action="http://localhost:4000/add/video" method="POST">
        <div>
            <label>Video URL:</label>
            {{with .Form.FieldErrors.url}}
               <label class="error">{{.}}</label> 
            {{end}}
            <input type="text" name="url" value="{{.Form.URL}}">
            <button type="button" onclick="autofillMetadata()">Autofill from URL</button>
        </div>
        <div>
            <label>Video Title</label>
            {{with .Form.FieldErrors.title}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="title">
        </div>
        <div>
            <label>Upload Date</label>
            {{with .Form.FieldErrors.uploadDate}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="date" name="uploadDate" value="{{.Form.UploadDate}}">
        </div>
        <div>
            {{with .Form.FieldErrors.rating}}
                <label class="error">{{.}}</label>
            {{end}}
            <label>Rating</label>
            <select name="rating" value="{{.Form.Rating}}">
                <option value="pg">PG</option>
                <option value="pg-13">PG-13</option>
                <option value="r">R</option>
            </select>
        </div>
        <label class="custom-file-label">
            Upload Thumbnail
            <input type="file" name="thumbnail" id="imageInput" accept="image/*" onChange="previewImage(event)">
        </label>
        <label>
            Video Tags
            <input type="text" name="tag" id="videoTags">
        </label>
        <div>
            {{with .Form.FieldErrors.creator}}
                <label class="error">{{.}}</label>
            {{end}}
            <label>Creator Name</label>
            <input type="text" name="creator" value="{{.Form.Creator}}">
        </div>
        <label>
            Actors
            <input type="text" name="actors[0]">
            <input type="text" name="actors[1]">
            <input type="text" name="actors[2]">
        </label>
        <button type="submit">Submit</button>
        <div id="imagePreview"></div>
    </div>
{{end}}

{{define "scripts"}}
    <script src="/static/js/add.js"></script>
{{end}}