{{ define "title"}}Browse{{ end }}

{{ define "main" }}
  <div class="px-2" data-page="browse">
    <h1 class="my-4 font-bold text-3xl">Browse</h1>
    <div id="browseSections">
      {{ range $sectionName, $videos := .BrowseSections }}
      <div class="my-4">
        <h2 class="my-2 text-2xl font-bold">{{ $sectionName }}</h2>
        {{ if $videos }}
          <div class="flex">
            {{ template "video-carousel" (dict "ImageBaseUrl" $.ImageBaseUrl "Videos" $videos)}} 
          </div>
        {{ else }}
          <p>Error fetching videos</p>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
{{ end }}
