{{ define "title" }}Home{{ end }}

{{ define "main" }}
  <div class="mt-10 mb-14 w-full">
    <h1 class="font-bold text-4xl text-center">
      The Internet's Sketch<br />
      Comedy Database
    </h1>
    <button
      class="block mx-auto my-7 bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600 transition"
    >
      Browse Videos
    </button>
  </div>

  <h2 class="font-bold text-xl my-3">
    <a href="/categories/latest" class="hover:underline">Latest Sketches</a>
  </h2>
  {{ template "thumbnail-gallery" . }}
  <div class="flex justify-start">
    <a class="text-left" href="/categories/latest">See More >></a>
  </div>
{{ end }}

{{ define "scripts" }}{{ end }}
