{{ define "title" }}Search SketchDB{{ end }}

{{ define "main" }}
  <div data-page="search" class="w-full my-4 px-2 text-slate-950 ">
    <h1 class="w-full my-3 text-2xl font-bold line-clamp-1">Search "{{ .Query }}"</h1>
    <section class="flex">
      <div id="resultsSummary" class="w-72 h-fit border border-slate-950 rounded-md">
        <a href="/catalog/sketches?query={{ .SearchResults.Query }}">
          <div class="flex items-center justify-between p-2 font-bold border-slate-950 hover:bg-slate-200 rounded-md cursor-pointer">
            <h2 class="text-xl p-2">Sketches</h2>
            <p class="p-2 rounded-full text-slate-50 min-w-11 text-center bg-slate-950">{{ .SearchResults.TotalVideoCount}}</p>
          </div>
        </a>
        <a href="/catalog/people?query={{ .SearchResults.Query }}">
          <div class="flex items-center justify-between p-2 font-bold border-slate-950 hover:bg-slate-200 rounded-md cursor-pointer">
            <h2 class="text-xl p-2">People</h2>
            <p class="p-2 rounded-full text-slate-50 min-w-11 text-center bg-slate-950">{{ .SearchResults.TotalPersonCount}}</p>
          </div>
        </a>
        <div class="flex items-center justify-between p-2 font-bold border-slate-950 hover:bg-slate-200 rounded-md cursor-pointer">
          <h2 class="text-xl p-2">Creators</h2>
          <p class="p-2 rounded-full text-slate-50 min-w-11 text-center bg-slate-950">{{ .SearchResults.TotalCreatorCount }}</p>
        </div>
        <div class="flex items-center justify-between p-2 font-bold border-slate-950 hover:bg-slate-200 rounded-md cursor-pointer">
          <h2 class="text-xl p-2">Characters</h2>
          <p class="p-2 rounded-full text-slate-50 min-w-11 text-center bg-slate-950">{{ .SearchResults.TotalCharacterCount }}</p>
        </div>
      </div>
      <div id="results" class="flex flex-col gap-4 flex-grow w-full ml-4 p-4 rounded-md border shadow-lg">
        {{- if eq .Query "" }}
          <div class="text-center p-6">
            <p class="text-lg font-bold">Search SketchDB by typing a word or phrase in the search box above.</p>
          </div>
        {{- else if eq .SearchResults.NoResults false -}} 
          {{- with .SearchResults.PersonResults -}}
          <div>
            <a href="/catalog/people?query={{ $.SearchResults.Query }}">
              <h2 class="font-bold text-2xl mb-3 hover:underline">People</h2>
            </a>
            {{- template "person-gallery" (dict "ImageBaseUrl" $.ImageBaseUrl "People" .) -}}
          </div>
          {{- end -}}
          {{- with .SearchResults.CreatorResults -}}
          <div>
            <a href="/catalog/creators?query={{ $.SearchResults.Query }}">
              <h2 class="font-bold text-2xl mb-3 hover:underline">Creators</h2>
            </a>
            {{- template "creator-gallery" (dict "ImageBaseUrl" $.ImageBaseUrl "Creators" .) -}}
          </div>
          {{- end -}}
          {{- with .SearchResults.CharacterResults -}}
          <div>
            <a href="/catalog/characters?query={{ $.SearchResults.Query }}">
              <h2 class="font-bold text-2xl mb-3 hover:underline">Characters</h2>
            </a>
            {{- template "character-gallery" (dict "ImageBaseUrl" $.ImageBaseUrl "Characters" .) -}}
          </div>
          {{- end -}}
          {{- with .SearchResults.VideoResults -}}
            <a href="/catalog/sketches?query={{ $.SearchResults.Query }}">
              <h2 class="font-bold text-2xl hover:underline">Sketches</h2>
            </a>
            {{- template "thumbnail-gallery" (dict "ImageBaseUrl" $.ImageBaseUrl "Videos" .) -}}
          {{- end -}}
        {{- else -}}
          <div class="text-center p-6">
            <p class="text-lg font-bold">No results found.</p>
          </div>
        {{- end -}}
      </div>
    </section>
  </div>
{{ end }}
