{{ define "title" }}Search SketchDB{{ end }}

{{ define "main" }}
  <main data-page="search" class="w-full max-w-screen-xl mx-auto px-2 pb-4 text-slate-950 ">
    <h1 class="w-full my-3 text-2xl font-bold line-clamp-1">Search "{{ .Query }}"</h1>
    <section class="w-full">
      <div id="results" class="flex min-w-0 flex-col gap-4">
        {{- if eq .Query "" }}
          <div class="text-center p-6">
            <p class="text-lg font-bold">Search SketchDB by typing a word or phrase in the search box above.</p>
          </div>
        {{- else if eq .SearchResults.NoResults false -}} 
          {{- with .SearchResults.PersonResults -}}
          <div class="bg-white p-4 rounded-lg">
            <header class="w-full flex items-center justify-between">
              <h2 class="text-xl font-bold">
                <a>People ({{ $.SearchResults.TotalPersonCount}})</a>
              </h2>
              <a class="hidden">See All</a>
            </header>
            <div class="content w-full overflow-hidden transition-all duration-500 ease-in-out">
              <div class="w-full mt-4">
                {{- template "person-gallery" (dict "ImageBaseUrl" $.ImageBaseUrl "People" .) -}}
              </div>
            </div>
          </div>
          {{- end -}}
          {{- with .SearchResults.CharacterResults -}}
          <div class="w-full bg-white p-4 rounded-lg">
            <header class="w-full flex items-center justify-between">
              <h2 class="text-xl font-bold">
                <a>Characters ({{ $.SearchResults.TotalCharacterCount }})</a>
              </h2>
              <a class="hidden">See All</a>
            </header>
            <div class="content w-full overflow-hidden transition-all duration-500 ease-in-out">
              <div class="w-full mt-4 overflow-hidden">
                {{- template "character-gallery" (dict "ImageBaseUrl" $.ImageBaseUrl "Characters" .) -}}
              </div>
            </div>
          </div>
          {{- end -}}
          {{- with .SearchResults.CreatorResults -}}
          <div class="bg-white p-4 rounded-lg">
            <header class="w-full flex items-center justify-between">
              <h2 class="text-xl font-bold">
                <a>Creators ({{ $.SearchResults.TotalCreatorCount }})</a>
              </h2>
              <a class="hidden">See All</a>
            </header>
            <div class="content w-full overflow-hidden transition-all duration-500 ease-in-out">
              <div class="mt-4">
                {{- template "creator-gallery" (dict "ImageBaseUrl" $.ImageBaseUrl "Creators" .) -}}
              </div>
            </div>
          </div>
          {{- end -}}
          {{- with .SearchResults.ShowResults -}}
          <div class="bg-white p-4 rounded-lg">
            <header class="w-full flex items-center justify-between">
              <h2 class="text-xl font-bold">
                <a>Shows ({{ $.SearchResults.TotalShowCount }})</a>
              </h2>
              <a class="hidden">See All</a>
            </header>
            <div class="content w-full overflow-hidden transition-all duration-500 ease-in-out">
              <div class="mt-4">
                {{- template "show-gallery" (dict "ImageBaseUrl" $.ImageBaseUrl "Shows" .) -}}
              </div>
            </div>
          </div>
          {{- end -}}
          {{- with .SearchResults.VideoResults -}}
          <div class="bg-white p-4 rounded-lg">
            <header class="w-full flex items-center justify-between">
              <h2 class="text-xl font-bold hover:underline">
                <a href="/catalog/sketches?query={{ $.SearchResults.Query }}">Sketches ({{ $.SearchResults.TotalVideoCount}})</a>
              </h2>
              <a class="hidden">See All</a>
            </header>
            <div class="content w-full overflow-hidden transition-all duration-500 ease-in-out">
              <div class="mt-4">
                {{- template "thumbnail-gallery" (dict "ImageBaseUrl" $.ImageBaseUrl "Videos" .) -}}
                {{ if gt $.SearchResults.TotalVideoCount 12 }}
                  <div class="p-4 font-medium text-lg text-center">
                    <a href="/catalog/sketches?query={{ $.SearchResults.Query }}" class="w-fit hover:underline">
                      See More
                    </a>
                  </div>
                {{ end }}
              </div>
            </div>
          </div>
          {{- end -}}
        {{- else -}}
          <div class="text-center p-6">
            <p class="text-lg font-bold">No results found.</p>
          </div>
        {{- end -}}
      </div>
    </section>
  </main>
{{ end }}
