{{ define "title" }}{{ .Page.ShowName }} Top Quotes{{ end }}

{{ define "main" }}
  {{ template "show-layout" . }}
{{ end }}

{{ define "show-content" }}
  <section id="quotes" class="flex flex-col flex-1 mt-1">
    <span class="font-bold">{{ .TotalQuotes }} Liked Quotes</span>
    <div id="results" class="w-full flex flex-col flex-1 gap-3 mt-3">
      {{ template "quotes-result" . }}
    </div>
  </section>
{{ end }}
