{{ define "title" }}{{ .Show.Name }}{{ end }}

{{ define "main" }}
  <div data-page="view-show" class="px-2 my-2 text-slate-950 bg-slate-250">
  {{ with .Show }}
    <div class="flex flex-col items-center sm:flex-row sm:items-start">
      <section id="profile" class="w-60 p-4 flex flex-col gap-2 flex-shrink-0">
        <div>
          <img src="{{ $.ImageBaseUrl }}/show/{{ .ProfileImg }}"
            class="mb-2"/>
          <h2 class="font-bold text-lg text-center">{{ .Name }}</h2>
        </div>
        <h3 class="font-bold">Creator</h3>
        {{ if .Creator.HasId }}
          <div class="flex items-center">
            <a href="/creator/{{ .Creator.Slug }}">

            </a>
            <img src="{{ $.ImageBaseUrl }}/creator/{{ .Creator.ProfileImage }}"
              class="rounded-full w-9"/>
            <h4 class="ml-2">{{ .Creator.Name }}</h4>
          </div>
        {{ end }}
        <div>
          <h3 class="font-bold">Seasons</h3>
          <p>{{ len .Seasons }}</p>
        </div>
        <div>
          <h3 class="font-bold">Episodes</h3>
          <p>{{ getShowEpisodeCount . }}</p>
        </div>
        <div>
          <h3 class="font-bold">Sketches</h3>
          <p>{{ getShowSketchCount . }}</p>
        </div>
      </section>
      <div class="w-full flex flex-col gap-5 my-4  sm:ml-3">
        <section id="popular" class="p-4 border shadow-slate-500 shadow-md">
          <h2 class="font-bold text-lg mb-2">Popular</h2>
          {{- template "thumbnail-gallery" (dict "ImageBaseUrl" $.ImageBaseUrl "Videos" $.Videos) -}}
        </section>
        <section id="seasons" class="p-4 border shadow-slate-500 shadow-xl">
          <h2 class="font-bold text-lg mb-2">Seasons</h2>
          <table class="w-full text-center">
            <tr class="border-b border-slate-300">
              <th class="py-2">Season</th>
              <th>Year</th>
              <th>Episodes</th>
              <th>Sketches</th>
            </tr>
              {{ range $season := .Seasons }}
                <tr class="border-b border-slate-300">
                  <td class="py-2 font-normal">
                    <a href="/show/{{ $.Show.Slug }}/season/{{ $season.Number }}">
                      {{ $season.Number }}
                    </a>
                  </td>
                  <td class="font-normal">{{ with $season.AirDate }}{{ getYear . }}{{ end }}</td>
                  <td class="font-normal">{{ len $season.Episodes }}</td>
                  <td class="font-normal">{{ getSeasonSketchCount $season }}</td>
                </tr>
              {{ end }}
          </table>
        </section>
        <section id="cast" class="p-4 border shadow-slate-500 shadow-xl">
          <h2 class="font-bold text-lg mb-2">Cast</h2>
          {{- template "person-gallery" (dict "ImageBaseUrl" $.ImageBaseUrl "People" $.People ) -}}
        </section>
      </div>
    </div>
  {{ end }}
  </div>
{{ end }}
