{{ define "title" }}Catalog{{ end }}

{{ define "main" }}
  <div data-page="catalog" class="flex flex-col grow w-full my-4 px-2 text-slate-950 ">
    <h1 class="w-full my-3 text-2xl font-bold">Sketch Catalog</h1>
    <section class="flex grow">
      <div id="filterSection" class="w-80 border border-slate-950 rounded-md">
        <div class="flex items-center justify-between border-b border-slate-950">
          <h2 class="font-bold text-xl p-4">Filters</h2>
          <button class="castButton p-2">
            <img class="galleryArrow w-6" src="/static/img/dropdown-arrow-up.svg">
            <img class="galleryArrow hidden w-6" src="/static/img/dropdown-arrow-down.svg">
          </button>
        </div>
        <div id="filters" class="flex flex-col gap-2 w-72 p-2">
          <div>
            <h3 class="font-bold p-1">Sort By</h3>
            <div class="relative w-full">
              <select
                id="sortDropdown"
                class="block w-full appearance-none bg-slate-50 border border-slate-300 hover:border-slate-400 px-3 py-1.5 rounded-lg shadow-sm focus:outline-none"
              >
                <option value="latest">Latest</option>
                <option value="oldest">Oldest</option>
                <option value="az">A-Z</option>
                <option value="za">Z-A</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-slate-500">
                ▼
              </div>
            </div>
          </div>
          <div>
            <h3 class="font-bold p-1">Actor</h3>
            <catalog-filter
              id="person-filter"
              data-type="person"
              data-url="/person/search"
              data-placeholder="Enter actor's name"
              data-selected='[
                {{- range $i, $p := .SearchResults.Filter.People -}}
                  {{- if ne $i 0 -}},{{- end -}}
                  {"id": "{{ $p.ID }}", 
                  "name": "{{ $p.First }} {{ $p.Last }}",
                  "image": "{{ $.ImageBaseUrl }}/person/{{ $p.ProfileImg }}"}
                {{- end -}}
            ]'>
            </catalog-filter>
          </div>
          <div>
            <h3 class="font-bold p-1">Creator</h3>
            <catalog-filter
              id="creator-filter"
              data-type="creator"
              data-url="/creator/search"
              data-placeholder="Enter creator's name"
              data-selected='[
                {{- range $i, $c := .SearchResults.Filter.Creators -}}
                  {{- if ne $i 0 -}},{{- end -}}
                  {"id": "{{ $c.ID }}", 
                  "name": "{{ $c.Name }}",
                  "image": "{{ $.ImageBaseUrl }}/creator/{{ $c.ProfileImage }}"}
                {{- end -}}
            ]'>
            </catalog-filter>
          </div>
          <div>
            <h3 class="font-bold p-1">Tags</h3>
            <catalog-filter
              id="tags-filter"
              data-type="tag"
              data-url="/tag/search"
              data-placeholder="Search categories / tags"
              data-display-img="false"
              data-selected='[
                {{- range $i, $t := .SearchResults.Filter.Tags -}}
                  {{- if ne $i 0 -}},{{- end -}}
                  {"id": "{{ $t.ID }}", 
                  "name": "{{ with $t.Category }}{{ .Name }} / {{ end }}{{ $t.Name }}"}
                {{- end -}}
            ]'>
            </catalog-filter>
          </div>
        </div>
      </div>
      <div id="results" 
          class="flex flex-col grow w-full ml-4 border-slate-950"
          hx-trigger="filter-change"
        >
        {{ template "catalog-result" . }}
      </div>
    </section>
  </div>

  <template id="filterTemplate">
    <div class="relative">
      <input
        type="search"
        name="actorNameFilter"
        class="filterSearch w-full px-3 py-1.5 border border-gray-300 rounded-lg bg-slate-50 text-slate-700 placeholder-slate-400 focus:outline-none"
        hx-params="query"
        hx-trigger="focus, input changed delay:400ms, search"
        hx-target="next"
        hx-swap="innerHTML"
      />
      <ul class="dropdown list-none cursor-pointer absolute left-0 min-w-full bg-white border border-gray-300 rounded shadow-lg z-10 empty:hidden"></ul>
      <div class="filters flex flex-col gap-1 my-1"></div>
    </div>
  </template>
  <template id="filterProfile">
    <div class="flex justify-between items-center mt-1 rounded-full bg-slate-200">
      <div class="flex items-center overflow-hidden">
        <img class="rounded-full w-8"/>
        <h4 class="pl-2 overflow-hidden text-ellipsis whitespace-nowrap"></h4>
      </div>
      <button class="flex-shrink-0">
        <img class="p-1 rounded-full hover:bg-slate-300" src="/static/img/close.svg"/>
      </button>
    </div>
  </template>
{{ end }}
