{{define "title"}}{{.Video.Title}}{{end}}

{{define "main"}}
{{with .Video}}
<div class="my-3">
    <h1 class="text-2xl font-bold my-3">{{.Title}}</h1>
    <div class="flex my-3">
        <a href="/view/creator/{{.Creator.Slug}}">
            <img src="/static/img/creator/{{.Creator.ProfileImage}}" class="rounded-full inline-block w-8"
                alt="profile-img">
        </a>
        <a class="ml-2" href="/view/creator/{{.Creator.Slug}}">{{.Creator.Name}}</a>
    </div>
    <a class="my-3" href="{{.URL}}" target="_blank">
        <img class="rounded-md inline-block" src="/static/img/video/{{.Thumbnail}}" alt="thumbnail">
    </a>
    <div class="metadata rounded-md bg-slate-300">
        <time>Created: {{humanDate .UploadDate}}</time>
    </div>
    <div>
        Cast
        <div class="flex flex-wrap justify-start">
            {{range .Cast}}
            {{if .Actor.ID}}
            <div class="w-[calc(25%-8px)] mx-1">
                <a href="/person/{{.Actor.Slug}}">
                    <img class="rounded-md" src="/static/img/person/{{.Actor.ProfileImg}}">
                </a>
                <h3>{{.Actor.First}} {{.Actor.Last}}</h3>
            </div>
            {{end}}
            {{end}}
        </div>
    </div>
</div>
{{end}}
{{end}}

{{define "scripts"}}
<script src="/static/js/search.js"></script>
{{end}}
