.env
certbot
db-seed
old.docker-compose.yml
go.sum
*notes.md
quick*
tmp
node_modules
todo.md
ui/static/css/styles.css
backups
htmx.min.js 
*.py
images
cmd/testing
ui/static/css/styles.css
ui/static/js/dist
dist
