<div class="thumbnail-series" id="{{.Series_title}}">
 {{ range .Videos }}   
 <span>
    <a href="{{.Vid_url}}" target="_blank">
        <img src="{{.Vid_img_url}}" alt="thumbnail" class="{{.Title}}-video-img">
    </a>
    <h2 class="{{.Vid_title}}">{{.Vid_title}}</h2>
    <a href="{{.Profile_url}}" target="_blank">
        <img src="{{.Profile_img_url}}" alt="profile_img" class="{{.Title}}-profile-img">
    </a>
    <h2 class="{{.Profile_title}}">{{.Profile_title}}</h2>
 </span>
{{ end }}
<a href="{{.More_url}}">More</a>
</div>
