{{ define "actor-input" }}

{{$idPeople := printf "peopleId[%d]" .Index}} 
{{$textPeople := printf "peopleText[%d]" .Index}} 

{{$idCharacter := printf "characterId[%d]" .Index}} 
{{$textCharacter := printf "characterText[%d]" .Index}} 
{{$thumbCharacter := printf "characterThumbnail[%d]" .Index}} 

<div id="people[{{.Index}}]" class="relative p-2 my-2 rounded-lg border-2 border-black">
    <label>Name</label>
    {{ with (index .Form.FieldErrors $idPeople) }}
        <label class="block text-red-700">{{.}}</label>
    {{end}}
    <input type="hidden" name="{{ $idPeople }}" 
        value="{{if .Form.PersonIDs}} {{ index .Form.PersonIDs .Index }} {{end}}"
        />
    <input
        type="search"
        name="{{ $textPeople }}"
        value="{{ if .Form.PersonInputs }} {{ index .Form.PersonInputs .Index }} {{end}}"
        class="w-full p-1 border border-gray-300 rounded-lg bg-gray-50 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
        placeholder="Enter person's name"
        hx-get="/person/search"
        hx-params="query"
        hx-trigger="focus, input changed delay:500ms, search"
        hx-target="next"
    />
    <div></div>

    <label>Character Name (if applicable)</label>
    {{with (index .Form.FieldErrors $idCharacter)}}
        <label class="block text-red-700">{{.}}</label>
    {{end}}
    <input type="hidden" name="{{ $idCharacter }}" />
    <input
        type="search"
        name="{{ $textCharacter }}"
        value="{{if .CharactersInputs}} {{ index .CharactersInputs .Index }} {{end}}"
        class="w-full p-1 border border-gray-300 rounded-lg bg-gray-50 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
        placeholder="Enter character's name"
        hx-get="/character/search"
        hx-params="query"
        hx-trigger="focus, input changed delay:500ms, search"
        hx-target="next"
    />
    <div></div>
    <label class="inline-block my-2"> Thumbnail </label>
    <label class="inline-block my-2 p-2 bg-gray-50 text-gray-700 border border-gray-300 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-black-500 focus:border-black-500">
        Upload
        <input
            type="file"
            name="{{ $thumbCharacter }}"
            accept="image/*"
            onChange="previewImage(event)"
            class="hidden"
        />
    </label>
</div>

{{ end }}
