{{ with .DropdownResults }}
  {{ range .Results }}
    <li
      class="result hover:bg-gray-200 border flex items-center"
      data-id="{{ .ID }}"
    >
      {{ if ne .Image "" }}
        <img class="inline-block w-12" src="{{ $.ImageBaseUrl}}/{{ .Type }}/{{ .Image }}"/>
      {{ end }}
      <p class="px-1 py-3 line-clamp-2">{{ .Text }}</p>
    </li>
  {{ end }}
  {{ if $.IsEditor }}
    <a href="{{ .Redirect }}" target="blank_">
      <li class="hover:bg-gray-200 py-2 px-1 border">
        {{ .RedirectText }}
      </li>
    </a>
  {{ end }}
{{ end }}
