{{ define "nav" }}
  <nav class="bg-black py-4">
    <div class="w-full lg:max-w-screen-lg mx-auto flex justify-between">
      <a href="/" class="inline-block text-white text-2xl font-bold pl-6"
        >SketchDB</a
      >
      <div class="hidden md:flex space-x-6 pr-6">
        <a href="/search" class="text-white text-lg hover:text-gray-300"
          >Search</a
        >
        {{ if .IsAuthenticated }}
          <form action='/logout' method='POST'>
            <button class="text-white text-lg hover:text-gray-300">Logout</button>
          </form>
        {{ else }}
          <a href="/signup" class="text-white text-lg hover:text-gray-300">Signup</a>
          <a href="/login" class="text-white text-lg hover:text-gray-300">Login</a>
        {{ end }}
      </div>
      <div class="md:hidden pr-6">
        <button class="text-white focus:outline-none">
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </nav>
{{ end }}
