{{ define "person-card" }}
  {{ with .Person }}
  <a href="/person/{{ .ID }}/{{ .Slug }}">
    <div class="bg-slate-50 p-4 border-t-4 border-orange-600 rounded-lg">
      <div class="flex flex-col items-center">
        <div class="w-full flex justify-center">
          <img
            src="{{ $.ImageBaseUrl }}/person/{{ .ProfileImg }}"
            class="w-36 rounded-full border-4 border-slate-300 shadow-lg"
            onerror="this.onerror=null;this.src='/static/img/missing-profile.jpg'"
          />
        </div>
        <h3 class="mt-2 text-center font-semibold text-slate-950 whitespace-normal line-clamp-2 max-w-xs">
          {{ .First }} <br> {{ .Last }}
        </h3>
      </div>
    </div>
    </a>
  {{ end }}
{{ end }}
