{{ define "profile-gallery" }}
  <div
    class="flex-to-grid overflow-x-auto gap-4 sm:gap-6 min-w-0 scrollbar-hide scroll-smooth
  sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6"
  >
    {{ range .Cards }}
      <div class="w-36 flex-shrink-0">
        {{ template "profile-card" . }}
      </div>
    {{ end }}
  </div>
{{ end }}
