{{ define "video-thumbnail-v2"}}
  <div class="flex-shrink-0 min-w-0">
    <a href="{{ .Url }}">
      <img
        src="{{ .Image }}"
        class="w-full rounded-lg"
        onerror="this.onerror=null;this.src='/static/img/missing-thumbnail.jpg'"
      />
    </a>
    <div class="flex h-32">
      <div class="w-8 min-w-8 mt-2">
        <a href="{{ .CreatorUrl }}">
          <img
            src="{{ .CreatorImage }}"
            class="w-full rounded-full"
            onerror="this.onerror=null;this.src='/static/img/missing-profile.jpg'"
          />
        </a>
      </div>
      <div class="mt-2 ml-2 flex-1 min-w-0">
        <h3 class="font-bold line-clamp-2 break-words whitespace-normal">
          <a href="{{ .Url }}">{{ .Title }}</a>
        </h3>
        <a {{ if .CreatorUrl}}href="{{ .CreatorUrl }}"{{ end }}>
          <h4 class="font-medium text-base line-clamp-2 break-words whitespace-normal">
            {{- .CreatorName -}}
          </h4>
        </a>
        {{ if .CreatorInfo }}
          <p>{{ .CreatorInfo }}</p>
        {{ end }}
        {{ if .Date }}
          <p>{{ .Date }}</p>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "video-thumbnail"}}
  {{ $imgSubPath := "" }}
  {{ if eq .Type "Cast"}}
    {{ $imgSubPath = "cast/thumbnail"}}
  {{ else }}
    {{ $imgSubPath = "video"}}
  {{ end }}

  {{ with .Video }}
    <div class="flex-shrink-0 min-w-0">
      <a href="/video/{{ .ID }}/{{ .Slug }}">
        <img
          src="{{ $.ImageBaseUrl }}/{{ $imgSubPath }}/{{ .ThumbnailName }}"
          class="w-full rounded-lg"
          onerror="this.onerror=null;this.src='/static/img/missing-thumbnail.jpg'"
        />
      </a>
      <div class="flex h-32">
        {{ if and .Show .Show.ID }}
          <div class="w-8 min-w-8 mt-2">
              <a href="/show/{{ .Show.ID }}/{{ .Show.Slug }}">
              <img
                src="{{ $.ImageBaseUrl }}/show/{{ .Show.ProfileImg }}"
                class="w-full rounded-full"
                onerror="this.onerror=null;this.src='/static/img/missing-profile.jpg'"
              />
            </a>
          </div>
        {{ else if and .Creator .Creator.ID }}
          <div class="flex-shrink min-w-8 mt-2">
            <a href="/creator/{{ .Creator.Slug }}">
              <img
                src="{{ $.ImageBaseUrl }}/creator/{{ .Creator.ProfileImage }}"
                class="w-full rounded-full"
                onerror="this.onerror=null;this.src='/static/img/missing-profile.jpg'"
              />
            </a>
          </div>
        {{ end }}
        <div class="mt-2 ml-2 flex-1 min-w-0">
          <h3 class="font-bold line-clamp-2 break-words whitespace-normal">
            <a href="/video/{{ .Slug }}">{{ .Title }}</a>
          </h3>
          {{ if and .Show .Show.Slug }}
              <a href="/show/{{ .Show.ID }}/{{ .Show.Slug }}">
              <p class="font-medium text-base line-clamp-1 break-words whitespace-normal">{{ .Show.Name }}</p>
            </a>
          {{ else if and .Creator .Creator.Slug }}
            <a href="/creator/{{ .Creator.Slug }}">
              <p class="font-medium text-base line-clamp-2 break-words whitespace-normal">{{ .Creator.Name }}</p>
            </a>
          {{ end }}
            {{ if and .EpisodeNumber .SeasonNumber }}
              S{{ .SeasonNumber }} · E{{ .EpisodeNumber }} · Sketch {{ .Number }} 
            {{ end }}
          {{ with .UploadDate }}
            <p>{{ .Format "Jan 2, 2006" }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
