{{ define "video-thumbnail"}}
  {{ with .Video }}
    <div class="flex-shrink-0">
      <a href="/video/{{ .Slug }}">
        <img
          src="{{ $.ImageBaseUrl }}/video/{{ .ThumbnailName }}"
          class="w-full rounded-lg"
          onerror="this.onerror=null;this.src='/static/img/missing-thumbnail.jpg'"
        />
      </a>
      <div class="flex h-32">
        {{ if and .Creator.Slug .Creator.ProfileImage }}
          <div class="w-8 mt-2">
            <a href="/creator/{{ .Creator.Slug }}">
              <img
                src="{{ $.ImageBaseUrl }}/creator/{{ .Creator.ProfileImage }}"
                class="w-full rounded-full"
                onerror="this.onerror=null;this.src='/static/img/missing-profile.jpg'"
              />
            </a>
          </div>
        {{ end }}
        <div class="mt-2 ml-2 flex-1">
          <h3 class="font-bold line-clamp-2">
            <a href="/video/{{ .Slug }}">{{ .Title }}</a>
          </h3>
          {{ if and .Creator.Slug .Creator.Name }}
            <a href="/creator/{{ .Creator.Slug }}">
              <p class="font-medium text-base line-clamp-2">{{ .Creator.Name }}</p>
            </a>
          {{ end }}
          {{ with .UploadDate }}
            <p>{{ .Format "Jan 2, 2006" }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
