#addForm {
    width: 30%;
}
.error {
    display: block;
    color: red;
}

label {
    margin-top: 10px;
    display: block;
}

button {
    margin-top: 5px;
}

input[type="text"] {
    margin-top: 5px;
    display: block;
}

input[type="file"] {
    display: none;
    width: 2em;
}

.custom-file-label {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    width: 100%;
}