@keyframes scrollThumbnails {
  from { transform: translateX(-72px); }
  to { transform: translateX(-100%); } /* Adjust based on image width */
}

.animate-scrollThumbnails {
  display: flex;
  animation: scrollThumbnails 50s linear infinite;
}
/**/
/*.mask-gradient {*/
/*  -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0.8));*/
/*  mask: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0.8));*/
/*}*/
