@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .flex-to-grid {
    display: flex;
  }

  .collapsed {
    max-height: 0 !important;
  }

  .browse-flex-to-grid {
    display: flex;
  }

  @media (min-width: 640px) {
    .flex-to-grid {
      display: grid;
    }
  }

  @media (min-width: 768px) {
    .browse-flex-to-grid {
      display: grid;
    }
  }
}
